*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



@media (max-width : 720px){

    #check{
        
        display: none;
  
    }

    .header-container{
        width: 100%;
        height: 280px;
        background : url("/Img/Background.png");
        background-size: 100%;
    }

    .img{
        width: 30%;
        height: 60px;
        padding-left: 18px;
        display: flex;
        align-items: center;
        display: inline-block;
    }

    .img img{
        width: 85px;
        height: 100%;
    }

    .btn-menu{
        float: right;
        font-size: 25px;
        line-height: 70px;
        padding-right: 30px;
        display: block;
        cursor: pointer;
        color: white;
    }

    .menu{
        background: rgba(0, 0 , 0 , 0.3);   
        width: 100%;
        height: 70%;
        left: 100%;
        margin-left: -100%;
        transition: all 0.8s;
        line-height: 2.6;

    }

  
  
    .menu ul li{
        border: white solid 1px;
        text-align: center;
  
    }



    .menu ul li:hover{
        background-color: blue;
    }


    .menu ul li a{
        color: white;
        font-size: 15px;
    }


    #check:checked ~ .menu{
        margin: 0;
    }

    .inicio{
        padding-left: 45px;
    }



   
}







 



 

    








